<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ title }}</title>
</head>
<body class="bg-slate-800">

    <div class="flex justify-center items-center h-screen gap-4">
        <a href="{% url 'login' %}">
            <button class="text-white px-4 py-2 rounded bg-blue-500">Login</button>
        </a>

        <a href="{% url 'bodega:register' %}">
            <button class="text-white px-4 py-2 rounded bg-blue-500">Register</button>
        </a>
    </div>
    
</body>
</html>


